{{- if .Values.rbac.create -}}
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "agent-operator.fullname" . }}-manager-role
  labels:
    {{- include "agent-operator.labels" . | nindent 4 }}
rules:
- apiGroups:
  - ""
  resources:
  - persistentvolumeclaims
  - pods
  verbs:
  - create
  - delete
  - get
  - list
  - watch
- apiGroups:
  - ""
  resources:
  - pods/log
  verbs:
  - get
- apiGroups:
  - ""
  resources:
  - secrets
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - agents.wearn.dev
  resources:
  - agentruns
  - codingtasks
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - agents.wearn.dev
  resources:
  - agentruns/finalizers
  - codingtasks/finalizers
  verbs:
  - update
- apiGroups:
  - agents.wearn.dev
  resources:
  - agentruns/status
  - codingtasks/status
  verbs:
  - get
  - patch
  - update
{{- end }}
